In [1]:
import pandas as pd
import numpy as py
from math import cos, pi
from geopy.geocoders import Nominatim

In [2]:
data = pd.read_html("https://www.iban.com/country-codes")[0]
data.columns = ['Country', 'Code-2', 'Code-3', 'Numeric']

data

               Country Code-2 Code-3  Numeric
0          Afghanistan     AF    AFG        4
1        Åland Islands     AX    ALA      248
2              Albania     AL    ALB        8
3              Algeria     DZ    DZA       12
4       American Samoa     AS    ASM       16
..                 ...    ...    ...      ...
244  Wallis and Futuna     WF    WLF      876
245     Western Sahara     EH    ESH      732
246              Yemen     YE    YEM      887
247             Zambia     ZM    ZMB      894
248           Zimbabwe     ZW    ZWE      716

[249 rows x 4 columns]

In [3]:
codeDict = {}
for code2, code3 in zip(list(data['Code-2']), list(data['Code-3'])):
    codeDict[code2] = code3
codeDict['NA'] = 'NAM'
codeDict.pop(list(codeDict.keys())[154])

codeDict

{'AF': 'AFG',
 'AX': 'ALA',
 'AL': 'ALB',
 'DZ': 'DZA',
 'AS': 'ASM',
 'AD': 'AND',
 'AO': 'AGO',
 'AI': 'AIA',
 'AQ': 'ATA',
 'AG': 'ATG',
 'AR': 'ARG',
 'AM': 'ARM',
 'AW': 'ABW',
 'AU': 'AUS',
 'AT': 'AUT',
 'AZ': 'AZE',
 'BS': 'BHS',
 'BH': 'BHR',
 'BD': 'BGD',
 'BB': 'BRB',
 'BY': 'BLR',
 'BE': 'BEL',
 'BZ': 'BLZ',
 'BJ': 'BEN',
 'BM': 'BMU',
 'BT': 'BTN',
 'BO': 'BOL',
 'BQ': 'BES',
 'BA': 'BIH',
 'BW': 'BWA',
 'BV': 'BVT',
 'BR': 'BRA',
 'IO': 'IOT',
 'BN': 'BRN',
 'BG': 'BGR',
 'BF': 'BFA',
 'BI': 'BDI',
 'CV': 'CPV',
 'KH': 'KHM',
 'CM': 'CMR',
 'CA': 'CAN',
 'KY': 'CYM',
 'CF': 'CAF',
 'TD': 'TCD',
 'CL': 'CHL',
 'CN': 'CHN',
 'CX': 'CXR',
 'CC': 'CCK',
 'CO': 'COL',
 'KM': 'COM',
 'CD': 'COD',
 'CG': 'COG',
 'CK': 'COK',
 'CR': 'CRI',
 'CI': 'CIV',
 'HR': 'HRV',
 'CU': 'CUB',
 'CW': 'CUW',
 'CY': 'CYP',
 'CZ': 'CZE',
 'DK': 'DNK',
 'DJ': 'DJI',
 'DM': 'DMA',
 'DO': 'DOM',
 'EC': 'ECU',
 'EG': 'EGY',
 'SV': 'SLV',
 'GQ': 'GNQ',
 'ER': 'ERI',
 'EE': 'EST',
 'SZ': 'SWZ',
 'ET': 'ETH',
 'FK': 'FLK',
 'FO': 'FRO',
 'FJ': 'FJI',
 'FI': 'FIN',
 'FR': 'FRA',
 'GF': 'GUF',
 'PF': 'PYF',
 'TF': 'ATF',
 'GA': 'GAB',
 'GM': 'GMB',
 'GE': 'GEO',
 'DE': 'DEU',
 'GH': 'GHA',
 'GI': 'GIB',
 'GR': 'GRC',
 'GL': 'GRL',
 'GD': 'GRD',
 'GP': 'GLP',
 'GU': 'GUM',
 'GT': 'GTM',
 'GG': 'GGY',
 'GN': 'GIN',
 'GW': 'GNB',
 'GY': 'GUY',
 'HT': 'HTI',
 'HM': 'HMD',
 'VA': 'VAT',
 'HN': 'HND',
 'HK': 'HKG',
 'HU': 'HUN',
 'IS': 'ISL',
 'IN': 'IND',
 'ID': 'IDN',
 'IR': 'IRN',
 'IQ': 'IRQ',
 'IE': 'IRL',
 'IM': 'IMN',
 'IL': 'ISR',
 'IT': 'ITA',
 'JM': 'JAM',
 'JP': 'JPN',
 'JE': 'JEY',
 'JO': 'JOR',
 'KZ': 'KAZ',
 'KE': 'KEN',
 'KI': 'KIR',
 'KP': 'PRK',
 'KR': 'KOR',
 'KW': 'KWT',
 'KG': 'KGZ',
 'LA': 'LAO',
 'LV': 'LVA',
 'LB': 'LBN',
 'LS': 'LSO',
 'LR': 'LBR',
 'LY': 'LBY',
 'LI': 'LIE',
 'LT': 'LTU',
 'LU': 'LUX',
 'MO': 'MAC',
 'MK': 'MKD',
 'MG': 'MDG',
 'MW': 'MWI',
 'MY': 'MYS',
 'MV': 'MDV',
 'ML': 'MLI',
 'MT': 'MLT',
 'MH': 'MHL',
 'MQ': 'MTQ',
 'MR': 'MRT',
 'MU': 'MUS',
 'YT': 'MYT',
 'MX': 'MEX',
 'FM': 'FSM',
 'MD': 'MDA',
 'MC': 'MCO',
 'MN': 'MNG',
 'ME': 'MNE',
 'MS': 'MSR',
 'MA': 'MAR',
 'MZ': 'MOZ',
 'MM': 'MMR',
 'NR': 'NRU',
 'NP': 'NPL',
 'NL': 'NLD',
 'NC': 'NCL',
 'NZ': 'NZL',
 'NI': 'NIC',
 'NE': 'NER',
 'NG': 'NGA',
 'NU': 'NIU',
 'NF': 'NFK',
 'MP': 'MNP',
 'NO': 'NOR',
 'OM': 'OMN',
 'PK': 'PAK',
 'PW': 'PLW',
 'PS': 'PSE',
 'PA': 'PAN',
 'PG': 'PNG',
 'PY': 'PRY',
 'PE': 'PER',
 'PH': 'PHL',
 'PN': 'PCN',
 'PL': 'POL',
 'PT': 'PRT',
 'PR': 'PRI',
 'QA': 'QAT',
 'RE': 'REU',
 'RO': 'ROU',
 'RU': 'RUS',
 'RW': 'RWA',
 'BL': 'BLM',
 'SH': 'SHN',
 'KN': 'KNA',
 'LC': 'LCA',
 'MF': 'MAF',
 'PM': 'SPM',
 'VC': 'VCT',
 'WS': 'WSM',
 'SM': 'SMR',
 'ST': 'STP',
 'SA': 'SAU',
 'SN': 'SEN',
 'RS': 'SRB',
 'SC': 'SYC',
 'SL': 'SLE',
 'SG': 'SGP',
 'SX': 'SXM',
 'SK': 'SVK',
 'SI': 'SVN',
 'SB': 'SLB',
 'SO': 'SOM',
 'ZA': 'ZAF',
 'GS': 'SGS',
 'SS': 'SSD',
 'ES': 'ESP',
 'LK': 'LKA',
 'SD': 'SDN',
 'SR': 'SUR',
 'SJ': 'SJM',
 'SE': 'SWE',
 'CH': 'CHE',
 'SY': 'SYR',
 'TW': 'TWN',
 'TJ': 'TJK',
 'TZ': 'TZA',
 'TH': 'THA',
 'TL': 'TLS',
 'TG': 'TGO',
 'TK': 'TKL',
 'TO': 'TON',
 'TT': 'TTO',
 'TN': 'TUN',
 'TR': 'TUR',
 'TM': 'TKM',
 'TC': 'TCA',
 'TV': 'TUV',
 'UG': 'UGA',
 'UA': 'UKR',
 'AE': 'ARE',
 'GB': 'GBR',
 'UM': 'UMI',
 'US': 'USA',
 'UY': 'URY',
 'UZ': 'UZB',
 'VU': 'VUT',
 'VE': 'VEN',
 'VN': 'VNM',
 'VG': 'VGB',
 'VI': 'VIR',
 'WF': 'WLF',
 'EH': 'ESH',
 'YE': 'YEM',
 'ZM': 'ZMB',
 'ZW': 'ZWE',
 'NA': 'NAM'}

In [4]:
def findLoc(v, h, vv, hh):
    lat = 90 - 10*v - vv/24
    lng = ((h - 18)*10 + hh/24)/cos(lat*pi/180)

    location = Nominatim().reverse([lat, lng])

    return codeDict[location.raw['address']['country_code'].upper()]

In [5]:
findLoc(6,21,3,4)

'EGY'

In [6]:
findLoc(5,27,4,4)

'CHN'

In [7]:
findLoc(6,18,1,1)

'DZA'